.DS_Store
*.d
*.o
*.pyc
*~
.*.swp
.context
.cproject
.project
.settings
.gdbinit
px4flow_prototype.px4
px4flow*.px4
px4flow*.bin
*.sublime-workspace
build*/

CMakeCache.txt
CMakeFiles/
*.cmake
libperiph.a
px4flow
Build/
Images/*.bin
Images/*.px4
.swp
.~lock.*
Archives/*
Build/*
build/*
.tags
tags
.tags_sorted_by_file
.pydevproject
.ropeproject
*.orig
src/modules/uORB/topics/*
src/platforms/nuttx/px4_messages/*
src/platforms/ros/px4_messages/*
Firmware.zip
unittests/build
*.generated.h
.vagrant
*.pretty
xcode
src/platforms/posix/px4_messages/
src/platforms/posix-arm/px4_messages/
src/platforms/qurt/px4_messages/
